<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
  <listeners>
  <listener class-name="Listerners.Listeners"></listener>
  </listeners>
  <test name="test">

    <classes>

      <class name="testrunner.TestRunner"></class>

    </classes>

  </test> <!-- Test -->

</suite> <!-- Suite -->